<div class="">
  <div>
    <button class="" (click)="clearEntries()">REMOVE ALL</button>
  </div>
  <div class="">
    <div class="space"></div>
    <div>
      <img src="" alt="" />
    </div>
    <div class="">
      <div class=""></div>
      <div class="">Count:</div>
      <div class="">
        <div class=""></div>
        <div>
          <button class="">MORE</button>
        </div>
        <div>
          <button class="">LESS</button>
        </div>
      </div>
    </div>
    <div class=""></div>
  </div>
</div>
