<div class="w-full h-20 bg-teal-200 m-0 flex items-center px-2 justify-between">
  <div class="font-bold text-2xl">Your cart</div>
  <div class="flex justify-center items-center gap-6">
    <div>
      <a routerLink="cart-detail">
        <img src="assets/products/cart.png" alt="cart" />
      </a>
    </div>
    <div>
      Counter:
      <span class="text-red-500 font-bold text-xl">{{
        countProduct$ | async
      }}</span>
    </div>
    <div>
      Total Price:
      <span class="text-red-500 font-bold text-xl">{{
        totalPrice$ | async | number : "1.2-2"
      }}</span>
    </div>
  </div>
</div>
