<p class="ml-2 flex items-center me-1 mb-2">
  <label for="totalRecords">Total records:</label>
  <span>
    <select
      id="totalRecords"
      class="flex items-center py-1.5 px-4 border-solid border-gray-300 border rounded-lg ms-2 cursor-pointer"
      [(ngModel)]="pageSize"
      (change)="handleChangePageSize()"
    >
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </span>
</p>
<table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
  <thead
    class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
  >
    <tr>
      <th scope="col" class="px-6 py-3">#</th>
      <th scope="col" class="px-6 py-3">Title</th>
      <th scope="col" class="px-6 py-3">Description</th>
      <th scope="col" class="px-6 py-3">Status</th>
      <th scope="col" class="px-6 py-3 text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="odd: bg-slate-200 even:bg-slate-400"
      *ngFor="let content of contents"
    >
      <th
        scope="row"
        class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
      >
        {{ content.id }}
      </th>
      <td class="px-6 py-4">{{ content.title }}</td>
      <td class="px-6 py-4">{{ content.description }}</td>
      <td class="px-6 py-4">{{ content.isPublished }}</td>
      <td class="flex justify-around px-6 py-4">
        <a class="btn-outline-purple" routerLink="{{ content.id }}"> Edit </a>
        <button class="btn-outline-red" (click)="confirmDelete(content.id!)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="mt-2 flex justify-end ms-2">
  <div>
    <ul>
      <li *ngFor="let page of lengthToArray">{{ page }}</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
