<div class="container py-20 relative">
  <div class="flex flex-col items-center justify-between md:flex-row">
    <div class="mb-12 md:w-1/2">
      <img src="../../../../../assets/home/hero3.png" alt="hero3" />
    </div>

    <div class="text-center md:text-left md:w-1/2 md:ml-20">
      <h4 class="font-bold text-gray-300 mb-4">Saving Money</h4>
      <h1 class="mb-4">Best Financing App To Save Your Money</h1>
      <p class="leading-relaxed mb-10">
        Best financing app ever in the world. Easy to use and very user friendly
        for mobile banking. You can control your card easily and send money some
        one just one click.
      </p>
      <button class="btn">Read More</button>
    </div>
  </div>
</div>
