<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="mb-2 inline-block">Name</label>
    <app-input [fCtrl]="name" placeholder="Enter Name"></app-input>
  </div>

  <div class="mb-3">
    <label class="mb-2 inline-block">Email</label>
    <app-input
      [fCtrl]="email"
      type="email"
      placeholder="Enter Email"
    ></app-input>
  </div>

  <div class="mb-3">
    <label class="mb-2 inline-block">Age</label>
    <app-input [fCtrl]="age" type="number" placeholder="Enter Age"></app-input>
  </div>

  <div class="mb-3">
    <label class="mb-2 inline-block">Password</label>
    <app-input
      [fCtrl]="password"
      type="password"
      placeholder="Enter Password"
    ></app-input>
  </div>

  <div class="mb-3">
    <label class="mb-2 inline-block">Confirm Password</label>
    <app-input
      [fCtrl]="confirmPassword"
      type="password"
      placeholder="Enter Password"
    ></app-input>
  </div>

  <div class="mb-3">
    <label class="mb-2 inline-block">Phone Number</label>
    <app-input
      [fCtrl]="phone"
      type="number"
      placeholder="Enter Phone"
    ></app-input>
  </div>
  <button type="submit" [disabled]="registerForm.invalid">Submit</button>
</form>
