<input [type]="type" [placeholder]="placeholder" />
<!-- [mask]="format"
  [dropSpecialCharacters]="false" -->
<!-- <p *ngIf="formControl.controls.name.errors?.required" class="text-red-500">
  Field is required
</p>
<p *ngIf="formControl.controls.name.errors?.minlength" class="text-red-500">
  The value you inputted is
  {{ formControl.controls.name.errors?.minlength.actualLength }} characters
  long. It must be
  {{ formControl.controls.name.errors?.minlength.requiredLength }} characters
  long.
</p> -->
