<p>tutorial details</p>
<p>{{ tutorial | json }}</p>
<div>
  <form [formGroup]="editTutorial" (ngSubmit)="updateTutorial()">
    <div>
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          required
          placeholder="Enter Title"
          [(ngModel)]="tutorial.title"
        />
        <p
          *ngIf="title.errors && title.touched && title.dirty"
          class="text-red-500"
        >
          Title invalid
        </p>
      </div>
      <div>
        <label for="description">Description</label>
        <input
          id="description"
          formControlName="description"
          required
          placeholder="Enter Description"
          [(ngModel)]="tutorial.description"
        />
        <p
          *ngIf="description.errors && description.touched && description.dirty"
          class="text-red-500"
        >
          Description Invalid
        </p>
      </div>
    </div>
    <div>
      <button class="btn-outline-green float-right mt-2">Add</button>
    </div>
  </form>
</div>
