<p>tutorial details</p>
<p>{{ tutorial | json }}</p>
<div>
  <form>
    <div>
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          required
          placeholder="Enter Title"
        />
        <p class="text-red-500">Title invalid</p>
      </div>
      <div>
        <label for="description">Description</label>
        <input
          id="description"
          name="description"
          required
          placeholder="Enter Description"
        />
        <p class="text-red-500">Description Invalid</p>
      </div>
    </div>
    <div>
      <!-- *ngIf="isSubmitted" -->
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn-outline-green">Add</button>
    </div>
  </form>
</div>
