<div class="container py-20">
  <div class="text-center m-auto mb-20 md:w-1/2">
    <h4 class="font-bold mb-4 text-gray-500">Our Future</h4>
    <h1 class="">Easy To Manage Your All Payments By Our App</h1>
  </div>

  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-12 lg:gap-8 px-4 sm:px-6 lg:px-8"
  >
    <!-- card no 1 -->
    <div class="card">
      <div class="bg-gray-300 inline-block rounded-2xl py-5 px-6">
        <img
          src="../../../../../assets/svg/calendar.svg"
          alt="calendar"
          class="w-12 h-12"
        />
      </div>
      <h3 class="text-xl font-bold py-4">Expense Trackering</h3>
      <p class="leading-relaxed">
        We use an application designed a testing gnose to keep away
      </p>
    </div>

    <!-- card no 2 -->
    <div class="card">
      <div class="bg-gray-300 inline-block rounded-2xl py-5 px-6">
        <img
          src="../../../../../assets/svg/chart.svg"
          alt="chart"
          class="w-12 h-12"
        />
      </div>
      <h3 class="text-xl font-bold py-4">Finance Snapshot</h3>
      <p class="leading-relaxed">
        We use an application designed a testing gnose to keep away
      </p>
    </div>

    <!-- card no 3 -->
    <div class="card">
      <div class="bg-gray-300 inline-block rounded-2xl py-5 px-6">
        <img
          src="../../../../../assets/svg/phone.svg"
          alt="phone"
          class="w-12 h-12"
        />
      </div>
      <h3 class="text-xl font-bold py-4">Support 24/24</h3>
      <p class="leading-relaxed">
        We use an application designed a testing gnose to keep away
      </p>
    </div>
  </div>
</div>
