<div class="container">
  <div class="mt-2">
    <h1 class="text-center text-2xl">Tutorials List</h1>

    <div class="flex justify-between pl-2">
      <div class="flex justify-start gap-1">
        <a routerLink="add" class="btn-warning">Create new tutorial</a>
        <button
          class="bg-pink-500 text-white active:bg-pink-600 font-medium text-sm px-5 py-2.5 rounded-lg shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="toggleModal()"
        >
          Open small modal
        </button>

        <app-modal-small [(showModal)]="showModal"> </app-modal-small>
      </div>

      <div class="flex justify-end gap-2">
        <input type="text" placeholder="Search by title" class="w-52" />
        <div>
          <button type="button" (click)="searchByTitle()" class="btn-primary">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="relative mt-2 overflow-x-auto shadow-md sm:rounded-lg">
      <app-pagination
        [(contents)]="tutorials"
        [(pageSize)]="currentPageSize.value"
        [(currentPage)]="currentPage"
        [totalPages]="totalPages"
        (pageSizeChange)="changePageSize($event)"
      ></app-pagination>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
