<nav class="container flex justify-between items-center bg-green-50 px-4">
  <div class="py-5 text-blue-500 font-bold text-3xl">
    <a href="#home">Home</a>
  </div>
  <div class="hidden lg:flex">
    <ul class="lg:flex lg:items-center gap-4">
      <li>
        <a href="#home" class="hover:text-gray-500 ease-in duration-200"
          >Home</a
        >
      </li>
      <li>
        <a href="#features" class="hover:text-gray-500 ease-in duration-200"
          >Features</a
        >
      </li>
      <li>
        <a href="#testimonial" class="hover:text-gray-500 ease-in duration-200"
          >Testimonial</a
        >
      </li>
      <li>
        <a href="#pricing" class="hover:text-gray-500 ease-in duration-200"
          >Pricing</a
        >
      </li>
      <li>
        <a href="#blog" class="hover:text-gray-500 ease-in duration-200"
          >Blog</a
        >
      </li>
      <li>
        <a href="#contact" class="hover:text-gray-500 ease-in duration-200"
          >Contact</a
        >
      </li>

      <li>
        <button
          class="bg-gray-300 px-9 py-3 rounded-md capitalize font-semibold hover:opacity-80 ease-in duration-200"
          type="button"
        >
          free trial
        </button>
      </li>
    </ul>
  </div>

  <!-- Mobile screen  -->
  <div class="lg:hidden cursor-pointer z-50">
    <img
      src="../../../../../assets/svg/menu.svg"
      alt="menu"
      (click)="toggleShowSidebar()"
      class="w-6 h-6"
    />
  </div>
</nav>
<app-sidebar [(isShowSidebar)]="isShowSidebar"></app-sidebar>
