<div class="container py-20">
  <div class="text-center m-auto mb-20 md:w-1/2">
    <h4 class="font-bold text-gray-400 mb-4">How It Works</h4>
    <h1 class="">Grow Up Your Money Saving</h1>
  </div>

  <div
    class="flex flex-col items-center justify-between space-y-6 md:flex-row md:space-y-0 md:space-x-6"
  >
    <!-- card 1  -->
    <div class="text-center cursor-pointer">
      <div
        class="relative bg-gray-200 inline-block px-6 py-3 rounded-lg cursor-pointer hover:bg-gray-300 ease-in duration-200"
      >
        <p
          class="text-6xl lg:after:content-[''] lg:after:flex lg:after:bg-[url('/assets/home/line.png')] lg:after:absolute lg:after:top-4 lg:after:left-32 2xl:after:left-52 lg:after:bg-no-repeat lg:after:h-7 lg:after:w-52"
        >
          1
        </p>
      </div>
      <h3 class="text-xl font-bold py-4">Install The App</h3>
      <p class="leading-relaxed">
        We use an application designed a testing gnose to keep away
      </p>
    </div>

    <!-- card 2  -->
    <div class="text-center cursor-pointer">
      <div
        class="relative bg-gray-200 inline-block px-6 py-3 rounded-lg cursor-pointer hover:bg-gray-300 ease-in duration-200"
      >
        <p
          class="text-6xl lg:after:content-[''] lg:after:flex lg:after:bg-[url('/assets/home/line-bottom.png')] lg:after:absolute lg:after:top-4 lg:after:left-32 2xl:after:left-52 lg:after:bg-no-repeat lg:after:h-7 lg:after:w-52"
        >
          2
        </p>
      </div>
      <h3 class="text-xl font-bold py-4">Setup Your Profile</h3>
      <p class="leading-relaxed">
        We use an application designed a testing gnose to keep away
      </p>
    </div>
    <!-- card 3  -->
    <div class="text-center cursor-pointer">
      <div
        class="relative bg-gray-200 inline-block px-6 py-3 rounded-lg cursor-pointer hover:bg-gray-300 ease-in duration-200"
      >
        <p class="text-6xl">3</p>
      </div>
      <h3 class="text-xl font-bold py-4">Enjoy The Features!</h3>
      <p class="leading-relaxed">
        We use an application designed a testing gnose to keep away
      </p>
    </div>
  </div>
</div>
