<div class="container">
  <form [formGroup]="frmTutorial" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        formControlName="title"
        [ngClass]="{ 'text-teal-600': isSubmitted && f['title'].errors }"
      />
      <p *ngIf="frmTutorial.controls['title'].errors!['required']">fail</p>
      <div *ngIf="isSubmitted && f['title'].errors" class="text-red-500">
        <p *ngIf="f['title'].errors['required']">Title is required</p>
        <p *ngIf="f['title'].errors['minlength']">Title min length 3</p>
        <p *ngIf="f['title'].errors['maxlength']">Title max length 7</p>
      </div>
    </div>
    <div>
      <label for="description">Description</label>
      <input
        id="description"
        formControlName="description"
        type="text"
        [ngClass]="{ 'text-teal-600': isSubmitted && f['description'].errors }"
      />
      <div *ngIf="isSubmitted && f['description'].errors" class="text-red-500">
        <p *ngIf="f['description'].errors['required']">
          Description is required
        </p>
      </div>
    </div>
    <button class="btn-primary float-right">Submit</button>
  </form>
  <p>Form value: {{ frmTutorial.value | json }}</p>
  <!-- <p *ngIf="tutorial.title" class="text-red-400">
    Form valid: {{ frmTutorial.valid }}
  </p> -->
</div>
