<app-cart-header></app-cart-header>
<div
  class="z-50 grid md:grid-cols-3 sm:grid-cols-1 justify-items-center bg-orange-100 w-full py-6 px-4"
>
  <div *ngFor="let product of products" class="my-4">
    <div class="border border-gray-300 rounded-xl">
      <img src="{{ product.image }}" alt="{{ product.title }}" />
    </div>
    <div class="text-center mt-2">
      <div class="">{{ product.title }}</div>
      <div class="">{{ product.description }}</div>
      <div class="">
        <span class="text-red-500 mx-2"
          >$ {{ product.price | number : "1.2-2" }}</span
        >
        <button
          class="border border-blue-500 rounded-2xl text-white bg-blue-500 py-2 px-4 hover:bg-blue-700"
          (click)="buy(product)"
        >
          + BUY
        </button>
      </div>
    </div>
  </div>
</div>
