<header class="sticky top-0 z-50">
  <app-nav></app-nav>
</header>
<main>
  <section class="relative">
    <app-intro></app-intro>
  </section>
  <section class="bg-teal-500">
    <app-feature></app-feature>
  </section>
  <section>
    <app-saving-money></app-saving-money>
  </section>
  <section class="bg-green-100">
    <app-how-it-works></app-how-it-works>
  </section>
  <section>testimonial</section>
  <section>pricing</section>
  <section>blog</section>
  <section>download app</section>
  <section>contact</section>
  <section>footer</section>
</main>
