<div class="container py-20">
  <div class="flex items-center flex-col z-20 md:flex-row">
    <div class="text-center mb-12 md:text-left md:w-1/2 md:pr-10">
      <h1 class="mb-4">Awesome App for Your Financial.</h1>
      <p class="leading-relaxed mb-10">
        This should be used to tell a story and let your users know a little
        more about app and it’s use, How can benefit them.
      </p>
      <button class="btn">Download app</button>
    </div>

    <div class="md:w-1/2">
      <img src="../../../../../assets/home/hero4.png" alt="hero4" />
    </div>
  </div>
</div>
